<form class="container" [formGroup]="formProduct">
  <h3 class="card-title">Product</h3>
  <mat-form-field appearance="outline">
    <mat-label>title:</mat-label>
    <input matInput type="text" name="title" formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>src:</mat-label>
    <input matInput type="text" name="src" formControlName="src" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>dsc:</mat-label>
    <input matInput type="dsc" name="dsc" formControlName="dsc" />
  </mat-form-field>
  <div class="btn-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="formProduct.invalid"
      (click)="onCreate()"
    >
      Submit
    </button>
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
