<ng-container *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</ng-container>

<div class="container">
  <div *ngIf="authService.errorSubject$ | async as error">
    <h2 class="error-text">{{ error }}</h2>
  </div>
  <ng-container *ngIf="accountAccess$ | async as accountAccess">
    <div *ngIf="accountAccess.form as form">
      <form class="form" [formGroup]="form">
        <h3 class="card-title">{{ accountAccess.accountAction.title }}</h3>
        <mat-form-field
          appearance="outline"
          *ngIf="accountAccess.form.contains('username')"
        >
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />
          <div class="red-text" *ngIf="form.controls.username.dirty && form.controls.username.hasError('uniqueNameValidator')">
            Word {{form.controls.username.getError('uniqueNameValidator').isBanned}} is banned
          </div> 
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email:</mat-label>
          <input matInput type="email" name="email" formControlName="email" />
          <div
            class="error-text red-text"
            *ngIf="
              form.controls['email'].invalid && form.controls['email'].touched
            "
          >
            <span *ngIf="form.get('email').hasError('email')">
              Email must have @ !
            </span>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password:</mat-label>
          <input
            matInput
            type="password"
            name="password"
            formControlName="password"
            #pass
          />
          <button
            mat-icon-button
            type="button"
            color="warn"
            class="open_pass"
            (click)="openPass(pass)"
          >
            <mat-icon>{{
              !isVisiblePassword ? "visibility_off" : "visibility_on"
            }}</mat-icon>
          </button>
          <div
            class="error-text red-text"
            *ngIf="
              form.controls['password'].invalid &&
              form.controls['password'].touched
            "
          >
            <span
              *ngIf="
                form.get('password').hasError('minlength') &&
                form.get('password').errors['minlength']['requiredLength']
              "
            >
              Password has to have minimum of
              {{ form.get("password").errors["minlength"]["requiredLength"] }}
              characters. Now puted
              {{ form.get("password").errors["minlength"]["actualLength"] }}
            </span>
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="accountAccess.form.contains('confirmPassword')">
          <mat-label>Confirm Password:</mat-label>
          <input
            matInput
            type="password"
            name="confirm-password"
            formControlName="confirmPassword"
            #confirmPassword
          />
          <button
            mat-icon-button
            type="button"
            color="warn"
            class="open_pass"
            (click)="openConfirmPass(confirmPassword)"
          >
            <mat-icon>{{
              !isVisibleconfirmPassword ? "visibility_off" : "visibility_on"
            }}</mat-icon>
          </button>
          <div
            class="error-text red-text"
            *ngIf="
              form.get('confirmPassword').dirty &&
              form.hasError('matchPassword')
            "
          >
            Confirm password does not match to password
          </div>
        </mat-form-field>
        <div>
          {{ accountAccess.accountAction.linkLabel }}
          <button
            mat-raised-button
            type="button"
            color="primary"
            class="form_switcher"
            (click)="toggleRegisterUser()"
          >
            {{ accountAccess.accountAction.linkText }}
          </button>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          (click)="onSubmit(form)"
        >
          {{ accountAccess.accountAction.title }}
        </button>
      </form>
    </div>
  </ng-container>
</div>
