.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  &_switcher {
    margin-bottom: 0.5rem;
  }
  .open_pass {
    position: absolute;
    top: 6px;
    right: 0;
  }
}

.error-text {
  color: red;
}
