<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #drawer>
    <nav class="sidenav-list">
      <ul>
          <li *ngFor="let link of links">
            <a
              [routerLink]="[link.url]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ link.name }}</a
            >
          </li>
        </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="white-spacer"></span>
      <nav>
        <ul>
          <li *ngFor="let link of links">
            <a
              [routerLink]="[link.url]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ link.name }}</a
            >
          </li>
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
