<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #drawer>
    <nav class="sidenav-list">
      <ul>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
        <li *ngIf="!this.authService.isAuthenticated()">
          <a
           routerLink="/auth"
           routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="this.authService.isAuthenticated()">
          <a href="#" routerLinkActive="active" (click)="onLogout($event)">Logout</a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="white-spacer"></span>
      <nav>
        <ul>
          <li>
            <a
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li>
            <a routerLink="/categories" routerLinkActive="active">Categories</a>
          </li>
          <li *ngIf="!this.authService.isAuthenticated()">
            <a routerLink="/auth" routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="this.authService.isAuthenticated()">
            <a href="#" routerLinkActive="active" (click)="onLogout($event)">Logout</a>
          </li>
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
