ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-left: 0.5rem;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      &:focus, &:active, &.active {
        text-decoration: underline;
      }
    }
  }
}

.white-spacer {
  flex: 1 1 auto;
}