%link-shared {
  display: block;
  color: #fff;
  text-decoration: none;
}

a {
  @extend %link-shared;
  &:hover,
  &:focus,
  &.active {
    color: #000;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-left: 0.5rem;
    a {
      @extend %link-shared;
      &:hover,
      &:focus,
      &.active {
        color: #000;
      }
    }
  }
}

.sidenav-list {
  background: #148ed5;
  height: inherit;
  padding: 10px;
  overflow: hidden !important;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: block;
      margin-bottom: 0.5rem;
      margin-left: 0;
      a {
        @extend %link-shared;
        &:hover,
        &:focus,
        &.active {
          color: #000;
        }
      }
    }
  }
}

.white-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100vh;
}

.mat-drawer-content {
  overflow: initial !important;
}